[submodule "/home/jack/.local/share/nvim/site/pack/base/start/nvim-treesitter"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "/home/jack/.local/share/nvim/site/pack/base/start/nvim-lspconfig"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "/home/jack/.local/share/nvim/site/pack/base/start/oil"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/oil
	url = https://github.com/stevearc/oil.nvim
[submodule "/home/jack/.local/share/nvim/site/pack/base/start/coq"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/coq
	url = https://github.com/ms-jpq/coq_nvim
[submodule "/home/jack/.local/share/nvim/site/pack/base/start/coq.artifacts"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/coq.artifacts
	url = https://github.com/ms-jpq/coq.artifacts
[submodule "/home/jack/.local/share/nvim/site/pack/base/start/nvim-notify"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/nvim-notify
	url = https://github.com/rcarriga/nvim-notify
[submodule "/home/jack/.local/share/nvim/site/pack/base/start/galaxyline"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/galaxyline
	url = https://github.com/NTBBloodbath/galaxyline.nvim
[submodule "/home/jack/.local/share/nvim/site/pack/base/start/nvim-web-devicons"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "/home/jack/.local/share/nvim/site/pack/base/start/chadtree"]
	path = /home/jack/.local/share/nvim/site/pack/base/start/chadtree
	url = https://github.com/ms-jpq/chadtree
